build
*.swp
*.swo
*~
src/obj
src/local.properties
src/default.properties
src/libs
dist
*.pyc
testsuite
.packages

#ECLIPSE + PYDEV
.deps
.optional-deps


src/AndroidManifest.xml
src/gen/
src/project.properties
src/bin/
